section {
  height: auto;
  width: 100%;
  padding: 20px;
}

.contenedor {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #B8FF65;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: DM Sans;
  src: url("./font/DMSans-Bold.ttf"), url("./font/DMSans-BoldItalic.ttf"), url("./font/DMSans-Italic.ttf"), url("./font/DMSans-Medium.ttf"), url("./font/DMSans-MediumItalic.ttf"), url("./font/DMSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monstserrat", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  scroll-margin-top: 15ex;
}

main {
  overflow: hidden;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: white;
  transition: ease-in-out 400ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DM Sans;
  color: black;
  font-weight: 100;
  margin-top: 10px;
}

body {
  background-color: #f9fbfc;
}

button {
  cursor: pointer;
}

a:hover {
  color: #B8FF65;
}

header {
  height: 65px;
  width: 100%;
  padding: 3rem 0;
}
header a {
  color: black;
  font-size: 18px;
}
header .contenedor_header {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .contenedor_header nav {
  height: 100%;
}
header .contenedor_header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: black;
}

.forms {
  display: flex;
  justify-content: "";
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.forms input,
.forms textarea {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #B8FF65;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-pc {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #FAA307;
  border-radius: 5px;
  background-color: #FAA307;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-pc:hover {
  background-color: transparent;
  color: #FAA307;
  box-shadow: 0px 0px 5px 0px #FAA307;
}

.pc-item, .pc-item--activo {
  color: white;
}
.pc-item:hover, .pc-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #FAA307);
  color: #FAA307;
  transition: ease-in-out 50ms;
}
.pc-item--activo {
  filter: drop-shadow(0px 0px 15px #FAA307);
}

.btn-switch {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #f80001;
  border-radius: 5px;
  background-color: #f80001;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-switch:hover {
  background-color: transparent;
  color: #f80001;
  box-shadow: 0px 0px 5px 0px #f80001;
}

.switch-item, .switch-item--activo {
  color: white;
}
.switch-item:hover, .switch-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #f80001);
  color: #f80001;
  transition: ease-in-out 50ms;
}
.switch-item--activo {
  filter: drop-shadow(0px 0px 15px #f80001);
}

.btn-playstation {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #0055d1;
  border-radius: 5px;
  background-color: #0055d1;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-playstation:hover {
  background-color: transparent;
  color: #0055d1;
  box-shadow: 0px 0px 5px 0px #0055d1;
}

.playstation-item, .playstation-item--activo {
  color: white;
}
.playstation-item:hover, .playstation-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #0055d1);
  color: #0055d1;
  transition: ease-in-out 50ms;
}
.playstation-item--activo {
  filter: drop-shadow(0px 0px 15px #0055d1);
}

.btn-xbox {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #189e02;
  border-radius: 5px;
  background-color: #189e02;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-xbox:hover {
  background-color: transparent;
  color: #189e02;
  box-shadow: 0px 0px 5px 0px #189e02;
}

.xbox-item, .xbox-item--activo {
  color: white;
}
.xbox-item:hover, .xbox-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #189e02);
  color: #189e02;
  transition: ease-in-out 50ms;
}
.xbox-item--activo {
  filter: drop-shadow(0px 0px 15px #189e02);
}

.btn-primario {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #B8FF65;
  border-radius: 5px;
  background-color: #B8FF65;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-primario:hover {
  background-color: transparent;
  color: #B8FF65;
  box-shadow: 0px 0px 5px 0px #B8FF65;
}

.primario-item, .primario-item--activo {
  color: white;
}
.primario-item:hover, .primario-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #B8FF65);
  color: #B8FF65;
  transition: ease-in-out 50ms;
}
.primario-item--activo {
  filter: drop-shadow(0px 0px 15px #B8FF65);
}

.btn-secundario {
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid #B8FF65;
  border-radius: 5px;
  background-color: #B8FF65;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.btn-secundario:hover {
  background-color: transparent;
  color: #B8FF65;
  box-shadow: 0px 0px 5px 0px #B8FF65;
}

.secundario-item, .secundario-item--activo {
  color: white;
}
.secundario-item:hover, .secundario-item--activo:hover {
  filter: drop-shadow(0px 0px 15px #B8FF65);
  color: #B8FF65;
  transition: ease-in-out 50ms;
}
.secundario-item--activo {
  filter: drop-shadow(0px 0px 15px #B8FF65);
}

footer {
  background-color: #000;
  border-radius: 40px 40px 0px 0px;
  padding: 40px 0px 0px 0px;
  border-top: 2px solid #1f1f3b;
}
footer .wrapper {
  padding: 20px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
footer .wrapper .footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
footer .wrapper .footer-wrapper nav div ul {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px gray;
  padding: 30px 0px 10px 0px;
}

.icon-footer {
  font-size: 22px;
}

.primera {
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
  text-align: center;
}
.primera .primera-cont {
  background: #B8FF65;
  border-radius: 3rem;
  padding: 4rem 0;
}
.primera .primera-cont .texto {
  width: 70%;
  margin: auto;
}
.primera .primera-cont h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.primera .primera-cont p {
  color: black;
  font-size: 1.2rem;
}

.next-section {
  border: 1px solid black;
  background-color: black;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
}
.next-section:hover {
  background-color: #B8FF65;
}
.next-section:hover i {
  color: black;
}

.radio {
  margin: 30px 0px;
}
.radio .contenedorRadio {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas: "texto texto transmicion transmicion" "texto texto transmicion transmicion" "texto texto reproductor reproductor";
}
.radio .contenedorRadio .texto {
  grid-area: texto;
}
.radio .contenedorRadio .transmicion {
  grid-area: transmicion;
  border-radius: 5px;
  overflow: hidden;
}

.galeria {
  margin: 30px 0px;
}
.galeria .contenedorGaleria {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "cover cover cover foto6" "foto4 foto5 foto3 foto2";
  gap: 3px;
  border-radius: 10px;
  overflow: hidden;
}
.galeria .contenedorGaleria > div {
  transition: all 200ms;
}
.galeria .contenedorGaleria > div:hover {
  transform: scale(1.03);
}
.galeria .contenedorGaleria .estudio {
  grid-area: cover;
}
.galeria .contenedorGaleria .foto2 {
  grid-area: foto2;
}
.galeria .contenedorGaleria .foto2 img {
  object-fit: cover;
}
.galeria .contenedorGaleria .foto3 {
  grid-area: foto3;
}
.galeria .contenedorGaleria .foto4 {
  grid-area: foto4;
}
.galeria .contenedorGaleria .foto5 {
  grid-area: foto5;
}
.galeria .contenedorGaleria .foto6 {
  grid-area: foto6;
}

/*# sourceMappingURL=style.css.map */
